/*
* Paleta de Colores
*/
$black: #000;
$white: #fff;
$green: rgb(65, 201, 128);
$gray: #dcdcdc;
$background: rgb(246, 245, 246);

/*
* *******************
*/

/*
* BreakPoints Responsive
*/

$xs: 0;
$sm: 480px;
$md: 768px;
$lg: 1024px;

/*
* *********************
*/
