/*
* Paleta de Colores
*/
$black: #000;
$white: #fff;
$green: rgb(65, 201, 128);
$ligthgrey:#fdfdfd;
$grey: #dcdcdc;
$darkgrey: #aaaaaa;
$backgroun-post: rgb(248, 247, 246);
$background: rgb(246, 245, 246);

$yellow: #fecf6a;
$blue: #194a8d;
$purple: #8f3985;

/*
* *******************
*/

/*
* BreakPoints Responsive
*/

$xs: 0;
$sm: 480px;
$md: 768px;
$lg: 1024px;

/*
* *********************
*/
