@import "../../../style/common.scss";

.actions {
  display: flex;
  position: relative;
  width: 100%;
  &:after {
    position: absolute;
    content: "";
    width: 1px;
    left: 50%;
    background-color: $grey;
    height: 100%;
  }
  &--button {
    background: $white;
    padding: 15px 20px;
    color: $green;
    flex-basis: 50%;
    border-bottom: 1px solid $grey;
  }
}
 .actions-inside{
    margin-left: 70px;
    .actions{
      &:after {
        content: none;
      }
      &--button {
        background: $ligthgrey;
        padding: 5px 15px;
        flex-basis: auto;
        margin: 0 10px 10px;
        border: none;
        box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

