@import "../../style/common.scss";

.card-stade {
  position: relative;
  background: $white;
  display: block;
  width: 100%;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  &--post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &--profile {
    margin: 25px;
    &__imagen {
      border-radius: 50%;
      overflow: hidden;
      max-width: 55px;
      object-fit: cover;
    }
  }
  &--content {
    flex-basis: 100%;
    padding: 20px 20px 20px 0;
    &__user {
      color: $green;
      margin: 5px 0;
    }
    &__time {
      color: $darkgrey;
      font-size: 14px;
    }
    &__publication {
      color: $black;
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: $backgroun-post;
}
